
*.so
*.a
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.tlog
*.obj
*.log
*.manifest
*.ipch
*.lastbuildstate
*.sdf
*.suo
*.user
*.idb
*.cache
*.def
*.unsuccessfulbuild
*.vspscc
*.aps
lib/说明.txt
*.opensdf
GeneratedFiles
test_svg
_UpgradeReport_Files
*.ncb
*.rar
